*{
    margin: 0;
}

@font-face {
    font-family: 'odin-font';
    src: url('fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.mainContainer{
    display: flex;
}

.leftContainer{
    background-image: url("images/mainimg2.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    height: 100vh;
    width: 35vw;
}

.banner{
    display: flex;
    margin-top: 20vh;
    width: 35vw;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
.logoText{
    font-family: 'odin-font', sans-serif;
    font-size: 5em;
    color: white;
}
.logo{
    height: 13vh;
}

.rightContainer{
    display: flex;
    width: 65vw;
    background-color: rgb(241, 241, 241);
    flex-direction: column;

}

.preFormContainer{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    gap: 1em;
}
.preFormText{
    font-weight: 800;
    font-size: 1.5em;
    padding-right: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(54, 54, 54);
}

.formRow{
    display: flex;
    gap: 2em;
}

.formContainer{
    margin-top: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Adding shadow to the bottom */
}

.inputBox{
    height: 25px;
    border: 1px solid;
    border-color: #dddee0;
    border-radius: 0.5em;
}

li{
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    gap: 0.2em;
}
label{
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(54, 54, 54);
}
.signUpText{
    margin-left: 1.3em;
    margin-bottom: 0.7em;
    font-weight: 800;
    font-size: 1.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(54, 54, 54);
}
.submitButton{
    margin: 3em;
    height: 5vh;
    width: 20vw;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 7px;
    background-color: #596D48;
    color: white;
    font-weight: 800;
    font-size: 1em;
}
.loginContainer{
    display: flex;
    gap: 0.5em;
    margin-left: 2.5em;
    font-size: 1.1em;
}
a{
    color: #596D48;
    text-decoration: none;
    font-weight: 800;
}

input {
    border: 1px solid #dddee0;
}

input:valid {
    border-color: green;
}
