.mainContainer{
    display: flex;
}

.leftContainer{
    background-image: url("images/mainimg2.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    height: 100vh;
    width: 40vw;
    margin: 0;
}

.rightContainer{

}